<div ng-controller="MainCtrl">
    <div scroll-on-submit scroll-to="#quantify">
        <form ng-submit="quantify()" id="quantify">
        <input type="text" class="input" ng-model="url" placeholder={{invalidUrl|validationError}} ng-init="url=''">
        </form>
        <div class="wrapper style1" ng-bind-html="errorMessage|apiError"></div>
    </div>
    <p></p>
    <button ng-click="quantify()" class="button alt" type="button" scroll-on-click scroll-to="#quantify">Quantify</button>
    <p></p>
    <div ng-show="showPlaylist">
        <div>Your playlist <h2>{{playlistName}}</h2> contains {{playlistTrackcount}} songs and is {{playlistDuration|displayduration}} long.</div>
        <h3>Estimated size (<a ng-click="toggleBitrate()">{{bitrateType}}</a>)</h3>
        <div>Normal Quality {{sizeNormalQuality|formatunit}}</div>
        <div>High Quality {{sizeHighQuality|formatunit}}</div>
        <div>Extreme Quality {{sizeExtremeQuality|formatunit}}</div>
        <h4><i>assuming bitrates of {{bitrateNormal}} kbps for Normal, {{bitrateHigh}} kbps for High and {{bitrateExtreme}} kbps for Extreme <a href="https://support.spotify.com/us/learn-more/faq/#!/article/What-bitrate-does-Spotify-use-for-streaming/" target="_blank">quality</a>.</i></h4>
    </div>

</div>