<div ng-controller="MainCtrl">
    <div>
        <input type="text" class="input" ng-model="model.url" placeholder={{invalidUrl}}>
        <!-- <input type="text" class="input" ng-model="model.url" placeholder="enter a valid spotify playlist url or uri"/>
        -->
        <div class="wrapper style1">{{errorMessage}}</div>


    </div>
    <p></p>
    <button ng-click="quantify()" class="button alt" type="button">Quantify!</button>
    <p></p>
    <div ng-show="showPlaylist">
        <div>Your playlist {{playlistName}} contains {{playlistTrackcount}} songs and is {{playlistDuration}} long.</div>
        <div class="em">Estimated size*:</div>
        <div>Normal Quality {{sizeNormalQuality}}MB</div>
        <div>High Quality {{sizeHighQuality}}MB</div>
        <div>Extreme Quality {{sizeExtremeQuality}}MB</div>
        <p></p>
        <div>*calculated assuming 96 kbps for normal, 160 kbps for high and 320 kbps for extreme quality.</div>
        <!--
        <h1>Tracklisting:</h1>
        <div ng-repeat="item in tracklist">
            <span>{{item.name}}</span>
        </div>
        -->
    </div>
</div>