<div ng-controller="MainCtrl">
    <div scroll-on-submit scroll-to="#quantify">

        <form ng-submit="quantify()" id="quantify">
        <input type="text" class="input" ng-model="url" placeholder={{invalidUrl|validationError}} ng-init="url=''">
        </form>
        <div class="wrapper style1" ng-bind-html="errorMessage|apiError"></div>

    </div>
    <p></p>
    <div scroll-on-click scroll-to="#quantify">
    <button ng-click="quantify()" class="button alt" type="button" >Quantify</button>
    </div>
    <p></p>

    <div ng-show="showPlaylist">

        <div>Your playlist <h2>{{playlistName}}</h2> contains {{playlistTrackcount}} songs and is {{playlistDuration|displayduration}} long.</div>
        <br>
        <div>Estimated size</div>
        <div>Normal Quality {{sizeNormalQuality|formatunit}}</div>
        <div>High Quality {{sizeHighQuality|formatunit}}</div>
        <div>Extreme Quality {{sizeExtremeQuality|formatunit}}</div>
        <h4>assuming bitrates of 96 kbps for Normal, 160 kbps for High and 320 kbps for Extreme <a href="https://support.spotify.com/us/learn-more/faq/#!/article/What-bitrate-does-Spotify-use-for-streaming/" target="_blank">quality</a></h4>
    </div>

</div>